main{
    display: flex !important;
    flex-direction: column;
    align-items: center;
}
* {
    font-family: 'Pacifio',cursive;
    margin: 0;
    padding: 0;
}
main a{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: solid 2px #2a3990;
    margin: 10px;
    width: fit-content;
    justify-content: center;
    text-decoration: none;
    color: black;
}
main .rec_img{
    width: 100px;
    margin: 5px;
    padding: 10px;
    
}
main .spec{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 300px;
    flex-wrap: wrap;
}
main .rec_titre{
    padding: 5px;
    text-align: center;
}
main .rec_desc{
    text-align: center;
    width: 250px;
}
main .spec > h5, main .spec > p{
    text-align: left;
}
main #pagination{
    display: flex;
    flex-wrap:nowrap;
    max-width: 50%;
    overflow-x: scroll;
    gap: 10px;
    padding-bottom: 10px;
}
main form > input[type=submit]{
    width: 25px;
}